body {
    font-family: 'Lato', sans-serif;
    font-family: 'Merriweather', serif;
    margin-left: 10px;
    max-width: 390px;
}
.HeadingImg {
    width: 45px;
    height: 45px;
    margin: 0px;
}
h1 {
    font-size: 26pt;
    font-weight: bold;
    margin: 0px;
}
.HeadingTagLine {
    font-size: 18pt;
    font-weight: bold;
    color: darkslategrey;
    margin: 0px;
}
h2 {
    font-size: 14pt;
    padding-top: 30px;
    padding-bottom: 20px;
    margin: 0px;
}
h3 {
    font-size: 11pt;
    font-weight: normal;
    padding-bottom: 5px;
    margin: 0px;
    white-space: pre;
}
a {
    text-decoration: none;
    color: blue;
}
.LinkLineDescription {
    font-size: 11pt;
    font-weight: normal;
    color: darkred;
    margin: 0px;
}
.AmazonLink {
    font-size: 10pt;
    font-weight: bold;
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 0px;
}
.DateLine {
    font-size: 16pt;
    padding-top: 50px;
    padding-bottom: 60px;
    margin: 0px;
}